@{
    Layout = null;
}
@using Model;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>single</title>
    <script type="applijegleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <!-- start menu -->
    <link href="~/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <script src="~/js/menu_jquery.js"></script>
    <script src="~/js/simpleCart.min.js"> </script>
    <script src="~/js/bootstrap.js"> </script>
    <!--web-fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
    <script src="~/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />

    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
        function Show(id) {
            window.location.href = "../Thefrontdesk/product?TypeID=" + id;
        }
    </script>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="~/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function () {
            $('.scroll-pane').jScrollPane();
        });

        //减号按钮点击事件
        function subtraction() {
            //获取-号按钮
            var subtraction = document.getElementById("subtraction");
            //获取文本框
            var number = document.getElementById("number");
            if (number.value <= 1) {
                //如果文本框的值小于1,则设置值为1
                number.value = 1;
            } else {
                number.value = number.value - 1;
            }
        }
        //文本框离开焦点事件
        function number() {
            var number = document.getElementById("number");
            var value = number.value;
            //如果文本值为空,设置为1
            if (value == "") {
                number.value = 1;
            }
            //如果文本值为非纯数字,设置为1
            //isNaN()是否为非法数字
            if (isNaN(value)) {
                number.value = 1;
            }
            //如果文本值小于1,设置为1
            if (parseInt(value) <= 1) {
                number.value = 1;
            }
        }

        //加号按钮点击事件

        function add() {
            var add = document.getElementById("add");
            var number = document.getElementById("number");
            //parseInt() 将数值型字符串转换为数值
            number.value = parseInt(number.value) + 1;
        }
    </script>

</head>
<body>
    <div class="top_bg" id="home">
        <div class="container">
            <div class="header_top">
                <div class="top_right">
                    <ul>
                        <li><a href="#">help</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Delivery information</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <h6><span></span> Call us : 032 2352 782</h6>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- header -->
    <div class="header_bg">
        <div class="container">
            <div class="header">
                <div class="head-t">
                    <div class="logo">
                        <a href="Index"><h1>Nuevo <span>Shop</span></h1> </a>
                    </div>
                    <div class="header_right">
                        <div class="cart box_1">
                            <a href="checkout">
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                                </div>
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--start-header-menu-->
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="Index">首页</a></li>
                    @foreach (var item in ViewBag.Lx)
                    {
                        <li class="grid" id="grid">
                            <a class="color2" href="#" onclick="Show('@item.TypeID')">@item.TypeName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--start-content-->
    <!-- products -->
    <div class="products">
        <div class="container">
            <div class="products-grids">
                <div class="col-md-8 products-single">
                    @foreach (Goods item in ViewData.Model)
                    {
                        <div class="col-md-5 grid-single">


                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="../@item.GoodsPic">
                                        <div class="thumb-image"> <img src="../@item.GoodsPic" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <!-- FlexSlider -->
                            <script src="~/js/imagezoom.js"></script>
                            <script defer src="~/js/jquery.flexslider.js"></script>
                            <script type="text/javascript">
                                // Can also be used with $(document).ready()
                                $(window).load(function () {
                                    $('.flexslider').flexslider({
                                        animation: "slide",
                                        controlNav: "thumbnails"
                                    });
                                });
                                var SName="";
                                function SelectByOne(name, id) {
                                  
                                    SName=name;
                                    $("#number").val(1);
                                    $.ajax({
                                        url:"/Thefrontdesk/select",
                                        type:"post",
                                        data:"SizeName="+name+"&GoodsId="+id,
                                        success:function(msg){
                                            $("#kc").text(msg);
                                        }
                                    })
                                }
                                //购物车
                                function Buy(GoodsPic,GoodsID) {
                                    
                                    var number = $("#number").val();
                                    var price = $("#Price").text();
                                    var Descript = $("#Descript").text();
                                    var name = SName;
                                    var GName=$("#GoodsName").text();
                                    $.ajax({
                                        url:"/Thefrontdesk/AddShop",
                                        type:"post",
                                        data:" SizeName=" + name +"&GoodsPic=" + GoodsPic+"&GoodsPrice="+price+"&ShoopCount="+number+"&Descript="+Descript+"&GoodsID="+GoodsID+"&GoodsName="+GName,
                                        success:function(msg){
                                            if(msg=="ok"){
                                                alert("添加购物车成功！")
                                            }else if(msg == "k"){
                                                alert("请先登录！")
                                            }else{
                                                alert("添加购物车失败！")
                                            }
                                        }
                                    })
                                
                                }

                            </script>
                          
                          
                        </div>
                        <div class="col-md-7 single-text">
                            <div class="details-left-info simpleCart_shelfItem">
                                @foreach (var GC in ViewBag.Stock.Rows)
                                {
                                    <h3 id="GoodsName">@item.GoodsName</h3>
                                    <p class="availability">库存: <span class="color" id="kc">@GC["Column1"]</span></p>
                                    <div class="price_single">
                                        @*<span class="reducedfrom">$@item.GoodsPrice</span>*@
                                        $<span class="actual item_price" id="Price">@item.GoodsPrice</span>
                                    </div>
                                    <h2 class="quick" id="Descript">@item.GoodsNote</h2>

                                    <h3>选择购买数量</h3>
                                    <input type="button" value="-" id="subtraction" onclick="subtraction()" style="width:25px">
                                    <input type="text" value="1" id="number" onBlur="number()" style="width:30px">
                                    <input type="button" value="+" id="add" onclick="add()"><br>

                                    <h3>尺寸</h3>
                                    <ul class="size">
                                        @foreach (var size in ViewBag.Size.Rows)
                                        {
                                            <li><a class="ll" href="javascript:;" onclick="SelectByOne('@size["SizeName"]','@size["GoodsId"]')"  id="a1">@size["SizeName"]</a></li>
                                        }
                                    </ul>

                                    <div class="clearfix"> </div>
                                    <div class="single-but item_add">
                                        <input type="submit" value="添加到我的购物车" id="Buy" onclick="Buy('@item.GoodsPic','@item.GoodsID')" />
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    }
                </div>

                <div class="clearfix"></div>
            </div>

            <!--//latest-->
        </div>
    </div>
    <!-- //products -->
    <!--start-bottom-->
    <!--start-image-cursuals-->
    <div class="scroll-slider">
        <div class="container">
            <div class="nbs-flexisel-container">
                <div class="nbs-flexisel-inner">
                    <ul class="flexiselDemo3 nbs-flexisel-ul" style="left: -253.6px; display: block;">
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="~/images/c3.png" alt="" /></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="~/images/c4.png" alt="" /></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="~/images/c1.png" alt="" /></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="~/images/c2.png" alt="" /></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="~/images/c3.png" alt="" /></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="~/images/c4.png" alt="" /></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="~/images/c1.png" alt="" /></li>
                        <li onclick="location.href='#';" class="nbs-flexisel-item" style="width: 253.6px;"><img src="~/images/c2.png" alt="" /></li>
                    </ul><div class="nbs-flexisel-nav-left" style="top: 21.5px;"></div><div class="nbs-flexisel-nav-right" style="top: 21.5px;"></div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <!--start-image-->
            <script type="text/javascript" src="~/js/jquery.flexisel.js"></script>
            <!--//end-->
            <script type="text/javascript">
                $(window).load(function () {
                    $(".flexiselDemo3").flexisel({
                        visibleItems: 5,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 2
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 3
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });
                });
            </script>
            <!---->
        </div>
    </div>
    <!--//end-bottom-->
    <!--start-footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-2 footer-left">
                    <h3>关于我们</h3>
                    <ul>
                        <li><a href="#">我们是谁</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                        <li><a href="#">我们的网站</a></li>
                        <li><a href="#">在新闻中</a></li>
                        <li><a href="#">Carrers</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-left">
                    <h3>你的账户</h3>
                    <ul>
                        <li><a href="account.html">你的帐户</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="contact.html">地址</a></li>
                        <li><a href="#">折扣</a></li>
                        <li><a href="#">追踪您的订单</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-left">
                    <h3>购物</h3>
                    <ul>
                        <li><a href="#">饰品</a></li>
                        <li><a href="#">图书</a></li>
                        <li><a href="#">布</a></li>
                        <li><a href="#">手袋</a></li>
                        <li><a href="#">鞋</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-left ">
                    <h3>分类</h3>
                    <ul>
                        <li><a href="#">运动鞋</a></li>
                        <li><a href="#">休闲短裤</a></li>
                        <li><a href="#">正式鞋</a></li>
                        <li><a href="#">派对服装</a></li>
                        <li><a href="#">民族服饰</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-left lost">
                    <h3>生活方式</h3>
                    <ul>
                        <li><a href="#">温泉</a></li>
                        <li><a href="#">美女</a></li>
                        <li><a href="#">旅行</a></li>
                        <li><a href="#">餐饮</a></li>
                        <li><a href="#">趋势</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <ul class="socials">
        <li><a class="soc1" href="#"></a></li>
        <li><a class="soc2" href="#"></a></li>
        <li><a class="soc3" href="#"></a></li>
    </ul>
    <!--/start-copyright-->
    <div class="copy">
        <div class="container">
            <p>&copy; 2015 Nuevo Shop. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
        </div>
    </div>
    <!--//end-copyright-->
    <!--end-footer-->
    <!--//end-content-->
    <!--start-smooth-scrolling-->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



</body>
</html>
