
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>feedback_list</title>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ProducrCss/ProCategory.css" rel="stylesheet" />
    <link href="~/ProducrCss/ProductManager.css" rel="stylesheet" />
    <script type="text/javascript">
        function deleteOne(id) {
            var msg = "您真的确定要删除吗?";
            if (confirm(msg) == true) {
                window.location.href = "../Frontdesk/DeleBack?Eid=" + id;
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="manage">
        <table class="list">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>评论内容</th>
                <th>回复内容</th>
                <th>操作</th>
            </tr>
   @foreach (Model.Evaluation item in @ViewData.Model)
   {
            <tr>
                <td class="first w4 c">@item.Eid</td>
                <td class="thumb">@item.UserName</td>
                <td >@item.EContent</td>
                <td>@if (item.Ereply == null)
                {
                    @Html.Label("未回复")
                }
                else
                {
                    @Html.Label(@item.Ereply)
                }</td>
                <td class="w1 c"><a href="ComeBack?Eid=@item.Eid&UserName=@item.UserName&EContent=@item.EContent&Ereply=@item.Ereply&GoodsID=@item.GoodsID">回复</a> <a href="#" onclick="deleteOne('@item.Eid')">删除</a></td>
            </tr>
  }
        </table>
        <div id="pageDiv">
            <div id="leftPage">共有120条记录，当前第1/10页</div>
            <div id="rightPage">

                <input type="image" src="~/images/first.gif" id="first" />&nbsp;&nbsp;
                <input type="image" src="~/images/back.gif" id="back" />&nbsp;&nbsp;
                <input type="image" src="~/images/next.gif" id="next" />&nbsp;&nbsp;
                <input type="image" src="~/images/last.gif" id="last" />&nbsp;&nbsp;
                转到第<input type="text" id="ssas" size="1" />&nbsp;&nbsp;<input type="image" src="~/images/go.gif" id="tz" />
            </div>
        </div>
    </div>
</body>
</html>
